@media screen and (min-width: 992px) {

    #topnav {
        
        #menu {
            display: flex;
        }

        #nav-adoption-button {
            display: block;
        }

        #menu-container {
            display: none;
        }
        
      }
}